.bookings-section {
  width: 100%;
}

.bookings-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  width: 100%;
  background-color: white;
  height: 21vh;
}
.bookings-header h1 {
  font-weight: 600;
  font-size: 2.5rem;
}
.left-bar {
  padding-top: 55px;
}
.tabs {
  padding-top: 30px;
  display: flex;
}

.tab {
  padding-bottom: 20px;
  margin-right: 50px;
  text-decoration: none;
  color: #969696;
  font-weight: 500;
}
.active {
  color: black;
  border-bottom: 3px solid black;
}

.tab:hover {
  color: #252525;
}

.right-bar a {
  text-decoration: none;
  color: white;
  padding: 15px 45px;
  border-radius: 11px;
  background-color: #0dafc8;
}

.right-bar {
  margin-top: 30px;
}
.right-bar a:hover {
  background-color: black;
}
