.promotion-banner {
  height: 400px;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("https://source.unsplash.com/collection/190727/1600x900");
  padding: 50px 50px;
}

.promotion-banner p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  opacity: 0.6;
  color: white;
}
.promotion-banner h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
}
.promotion-banner a {
  font-weight: 600;
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px;
  color: 0e440;
  text-decoration: none;
}

.promotion-banner a:hover{
  background-color: black;
  color: white;

}
